/bin/Debug/ST_SystemDaemon.exe
/bin/Debug/ST_SystemDaemon.pdb
/bin/Debug/ST_SystemDaemon.vshost.exe
/bin/Debug/ST_SystemDaemon.vshost.exe.manifest
/bin/Debug/WindowsFormsApplication1.exe
/bin/Debug/WindowsFormsApplication1.pdb
/bin/Debug/WindowsFormsApplication1.vshost.exe
/bin/Release/ST_SystemDaemon.exe
/bin/Release/ST_SystemDaemon.pdb
/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/GenerateResource.read.1.tlog
/obj/x86/Debug/GenerateResource.write.1.tlog
/obj/x86/Debug/ResolveAssemblyReference.cache
/obj/x86/Debug/ST_SystemDaemon.csproj.FileListAbsolute.txt
/obj/x86/Debug/ST_SystemDaemon.exe
/obj/x86/Debug/ST_SystemDaemon.pdb
/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
/obj/x86/Debug/WindowsFormsApplication1.TheForm.resources
/obj/x86/Debug/WindowsFormsApplication1.csproj.FileListAbsolute.txt
/obj/x86/Debug/WindowsFormsApplication1.exe
/obj/x86/Debug/WindowsFormsApplication1.pdb
/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Release/GenerateResource.read.1.tlog
/obj/x86/Release/GenerateResource.write.1.tlog
/obj/x86/Release/ST_SystemDaemon.csproj.FileListAbsolute.txt
/obj/x86/Release/ST_SystemDaemon.exe
/obj/x86/Release/ST_SystemDaemon.pdb
/obj/x86/Release/WindowsFormsApplication1.Properties.Resources.resources
/obj/x86/Release/WindowsFormsApplication1.TheForm.resources
/obj/x86/Release/WindowsFormsApplication1.csproj.FileListAbsolute.txt
/obj/x86/Release/WindowsFormsApplication1.exe
/obj/x86/Release/WindowsFormsApplication1.pdb
